{{ form_start(genusForm) }}
    {{ form_errors(genusForm) }}

    {{ form_row(genusForm.name) }}
    {#{{ dump(genusForm.subFamily.vars) }}#}
    {{ form_row(genusForm.subFamily,{
        label: 'test',
        attr:{
            class: 'foo',
        },
        placeholder: 'select a sub family'
    }) }}
    {{ form_row(genusForm.speciesCount, {
        'label': 'Number of Species'
    }) }}
    {{ form_row(genusForm.funFact) }}
    {{ form_row(genusForm.isPublished,{
        help: "Should this genus be shown on the site?"
    }) }}
    {{ form_label(genusForm.firstDiscoveredAt) }}
    {{ form_errors(genusForm.firstDiscoveredAt) }}

    {{ form_label(genusForm.firstDiscoveredAt.year) }}
    <select id="{{ genusForm.firstDiscoveredAt.year.vars.id }}"
            name="{{ genusForm.firstDiscoveredAt.year.vars.full_name }}">
        {% do genusForm.firstDiscoveredAt.year.setRendered() %}
        {% for choice in genusForm.firstDiscoveredAt.year.vars.choices %}
            <option value="{{ choice.value }}" {{ (choice.value == genusForm.firstDiscoveredAt.year.vars.data)? 'selected' : ''  }}>
                {{ choice.label }}
            </option>
        {% endfor %}
    </select>
    {{ form_errors(genusForm.firstDiscoveredAt.year) }}

    {{ form_row(genusForm.firstDiscoveredAt.month) }}
    {{ form_row(genusForm.firstDiscoveredAt.day) }}

    <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(genusForm) }}
